<div class="ui secondary pointing menu">
    <%= link_to "Chatroom", root_path, class: "item" %>
    <a class="item">
    Messages
    </a>
    <div class="right menu">
        <%= link_to "Login", login_path, class: "item" %>
        <a class="ui item">
            Logout
        </a>
        <a class="ui item">
            Signup
        </a>
    </div>
</div>
