<div class="ui secondary pointing menu">
    <a class="active item">
    Chatroom
    </a>
    <a class="item">
    Messages
    </a>
    <div class="right menu">
        <a class="ui item">
            Login
        </a>
        <a class="ui item">
            Logout
        </a>
        <a class="ui item">
            Signup
        </a>
    </div>
</div>
